.skills {
  width: 50vw;
  margin-top: 5%;
  margin-bottom: 3%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.flex-skills {
  /* width: 8vw; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.flex-skills p {
  font-size: 1.5rem;
  margin: 15px;
  text-align: center;
}

#skills-competences {
  height: 100vh;
}
