/* font family inter */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500;900&display=swap');

* {
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

body {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Inter', sans-serif;
}

h1 {
  font-weight: 900;
  font-size: 8vw;
  margin: 0;
  padding: 0;
}

h1.tracking-in-expand {
  -webkit-animation: tracking-in-expand 0.7s
    cubic-bezier(0.25, 0.46, 0.45, 0.94);
  animation: tracking-in-expand 0.7s cubic-bezier(0.25, 0.46, 0.45, 0.94) 1s;
}

@-webkit-keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
@keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}

header {
  display: none;
}

/* style section home */
section#home {
  width: 100vw;
  height: 100vh;
  background: aqua url(../images/banner_bg.jpg) no-repeat center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  display: none; /*for debug*/
}

.home-left img {
  width: 600px;
  height: 100vh;
  margin: 0;
}

.home-right {
  margin-left: 15%;
  width: 400px;
  height: 50vh;
}

/* style section about me */
.entete {
  display: flex;
  justify-content: center;
}

.entete .left {
  width: 30vh;
  margin: 5%;
}

.entete .right {
  width: 50vh;
  margin: 10% 5% 5% 5%;
  position: relative;
}

.titre {
  display: inline-block;
  position: relative;
  margin: 5% 0;
}

.entete .right h2 {
  font-size: 40px;
  margin: 0px;
  text-transform: uppercase;
  position: relative;
  width: auto;
  font-weight: 500;
  padding-bottom: 15px;
}

.entete .right h2::after {
  content: '';
  position: absolute;
  background-color: #202020;
  width: 100%;
  height: 2px;
  top: 100%;
  left: 0;
}

.titre p {
  text-align: right;
  width: auto;
  text-transform: uppercase;
  background-color: #ffffff;
  margin: 0px;
  padding-left: 10px;
  position: absolute;
  right: 0;
  bottom: -10px;
  color: #f6483b;
  font-weight: 500;
}
