/* font family inter */
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/* gradiant icon hand
background-image: linear-gradient(to top, #1DA5FE, #00bfef, #00d0ec, #00e0e1, #00efd0); */

*,
*::before,
*::after {
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: 'Comfortaa';
}

body,
p {
  margin: 0;
}

p,
.date {
  font-family: 'Roboto', sans-serif;
}

section#aboutMe {
  max-width: 1200px;
}

main {
  flex-direction: column;
}

/* entete génerique */
.titre {
  display: inline-block;
  position: relative;
  margin: 5% 0;
}

.titre h2 {
  font-size: 2rem;
  margin: 0px;
  text-transform: uppercase;
  position: relative;
  width: auto;
  font-weight: 500;
  padding-bottom: 15px;
}

.titre h2::after {
  content: '';
  position: absolute;
  background-color: #202020;
  width: 100%;
  height: 2px;
  top: 100%;
  left: 0;
}

.titre p {
  text-align: right;
  width: auto;
  text-transform: uppercase;
  background-color: #ffffff;
  margin: 0px;
  padding-left: 10px;
  position: absolute;
  right: 0;
  bottom: -10px;
  color: #1da5fe;
  font-weight: 500;
}

h1 {
  font-weight: bolder;
  font-size: 10rem;
  margin: 0;
  padding: 0;
  background-image: linear-gradient(
    to right,
    #1fa2ff 0%,
    #12d8fa 51%,
    #1fa2ff 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

h1.tracking-in-expand {
  -webkit-animation: tracking-in-expand 0.7s
    cubic-bezier(0.25, 0.46, 0.45, 0.94);
  animation: tracking-in-expand 0.7s cubic-bezier(0.25, 0.46, 0.45, 0.94) 1s;
}

@-webkit-keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
@keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}

.flex-centre {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* style bouton */

button {
  border: none;
}

.btn-grad {
  background-image: linear-gradient(
    to right,
    #1fa2ff 0%,
    #12d8fa 51%,
    #1fa2ff 100%
  );
}
.btn-grad {
  margin: auto;
  margin-top: 10%;
  padding: 15px 45px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 25px;
  display: block;
}

.btn-grad:hover {
  background-position: right center;
  color: #fff;
  text-decoration: none;
  cursor: url(../images/click-64.png), pointer;
}

/* style de l'icone cancel */

#cancel img {
  width: 64px;
  position: fixed;
  top: 2%;
  right: 2%;
}

#cancel {
  display: none;
  z-index: 99;
}

/* style section home */
section#home {
  width: 100vw;
  height: 100vh;
  background: #1da5fe url(../images/banner_bg.jpg) no-repeat center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

.home-right {
  margin-left: 40%;
  width: 40vw;
  /* height: 50vh; */
  display: flex;
  justify-content: center;
  align-content: center;
}

/* style section about me */

.entete {
  display: flex;
  justify-content: center;
}

.entete .left {
  width: 40vw;
  margin-top: 5%;
}

.entete .right {
  width: 40vw;
  margin-top: 10%;
  position: relative;
}

/* style expérience */

.experience-titre {
  text-align: center;
}

.timeline {
  position: relative;
  width: 100%;
  max-width: 1140px;
  margin: 0 auto;
  padding: 15px 0;
}

.timeline::after {
  content: '';
  position: absolute;
  width: 2px;
  background: #000;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -1px;
}

.container {
  padding: 15px 30px;
  position: relative;
  background: inherit;
  width: 50%;
}

.container.left {
  left: 0;
}

.container.right {
  left: 50%;
}

.container::after {
  content: '';
  position: absolute;
  width: 16px;
  height: 16px;
  top: calc(50% - 8px);
  right: -8px;
  background: #ffffff;
  border: 2px solid #000;
  border-radius: 16px;
  z-index: 1;
}

.container.right::after {
  left: -8px;
}

.container::before {
  content: '';
  position: absolute;
  width: 50px;
  height: 2px;
  top: calc(50% - 1px);
  right: 8px;
  background: #000;
  z-index: 1;
}

.container.right::before {
  left: 8px;
}

.container .date {
  position: absolute;
  display: inline-block;
  top: calc(50% - 9px);
  text-align: center;
  font-size: 1rem;
  font-weight: bold;
  color: #000;
  text-transform: uppercase;
  letter-spacing: 1px;
  z-index: 1;
}

.container.left .date {
  right: -75px;
}

.container.right .date {
  left: -75px;
}

.container .icon {
  position: absolute;
  display: inline-block;
  width: 40px;
  height: 40px;
  padding: 9px 0;
  top: calc(50% - 20px);
  border: 2px solid #000;
  border-radius: 40px;
  text-align: center;
  font-size: 1.1rem;
  color: #000;
  z-index: 1;
}

.container.left .icon {
  right: 56px;
}

.container.right .icon {
  left: 56px;
}

.container .content {
  padding: 30px 90px 30px 30px;
  background: rgb(31, 162, 255);
  background: rgb(31, 162, 255);
  background: linear-gradient(
    90deg,
    rgba(31, 162, 255, 1) 0%,
    rgba(18, 216, 250, 1) 45%,
    rgba(31, 162, 255, 1) 100%
  );
  position: relative;
  border-radius: 0 500px 500px 0;
}

.container.right .content {
  padding: 30px 30px 30px 90px;
  border-radius: 500px 0 0 500px;
}

.container .content h2 {
  margin: 0 0 10px 0;
  font-size: 1.5rem;
  font-weight: normal;
  color: white;
}

.container .content p {
  margin: 0;
  font-size: 1rem;
  line-height: 22px;
  color: #000000;
}

@media (max-width: 767.98px) {
  .timeline::after {
    left: 90px;
  }

  .container {
    width: 100%;
    padding-left: 120px;
    padding-right: 30px;
  }

  .container.right {
    left: 0%;
  }

  .container.left::after,
  .container.right::after {
    left: 82px;
  }

  .container.left::before,
  .container.right::before {
    left: 100px;
    border-color: transparent #1da5fe transparent transparent;
  }

  .container.left .date,
  .container.right .date {
    right: auto;
    left: 15px;
  }

  .container.left .icon,
  .container.right .icon {
    right: auto;
    left: 146px;
  }

  .container.left .content,
  .container.right .content {
    padding: 30px 30px 30px 90px;
    border-radius: 500px 0 0 500px;
  }
}

/* style education  */
.education {
  flex-direction: column;
}

.education-titre {
  text-align: center;
}

/* style portfolio */

section#portfolio {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.portfolio-titre {
  text-align: center;
  margin: 5%;
}

.portfolio-item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  z-index: 10;
}

/* style des cards projet */

.card {
  width: 360px;
  height: 240px;
  background-color: transparent;
  border-radius: 25px;
  perspective: 1000px;
  margin: 1%;
  cursor: url(../images/smile-64.png), pointer;
}

.card img {
  width: 100%;
  border-radius: 25px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 25px;
}

.card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 25px;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-front {
  background-color: #bbb;
  color: black;
}

.flip-card-back {
  background-color: rgba(0, 0, 0, 0.2);
  color: white;
  transform: rotateY(180deg);
}

/* style contact */

.contact-form {
  display: flex;
  justify-content: space-evenly;
}

.contact-titre {
  text-align: center;
}

.form-right form input,
textarea {
  margin: 10px;
  padding: 10px;
  outline: none;
  border: none;
  border-bottom: 1px solid #000;
  font-size: 16px;
}

.form-right form input:focus,
textarea:focus {
  border-bottom: 2px solid #1da5fe;
  font-size: 1.5rem;
  transition: 500ms;
}

.form-right form input[type='submit'] {
  border-bottom: none !important;
}

.form-right form {
  margin-top: 7%;
  width: 40vw;
  display: flex;
  flex-direction: column;
}

.direct-contact {
  margin-top: 15%;
  display: flex;
  justify-content: space-evenly;
}

.direct-contact img {
  width: 50%;
}

.direct-contact p {
  font-size: 1.5rem;
}

/* style footer  */
footer {
  background-color: #f5f5f5;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10%;
}
footer > * {
  margin: 4%;
}

footer ul {
  display: flex;
}

footer li {
  margin-right: 10px;
}

footer li a {
  color: #1fa2ff;
}

/* header {
  display: none;
} */

/* section#home {
  display: none;
} */

section#aboutMe {
  display: none;
}

section#portfolio {
  display: none;
}

section#contact {
  display: none;
}

footer {
  display: none;
}
